In [1]:
# ANS 1 WRITE A  PYTHON PROGRAM TO SUM OF THE FIRST n POSITIVE INTEGER
n = int(input())
s = 0
for i in range(1 , n+1):
    s += i
print(s)

10
55

In [2]:
# ANS 2 WRITE A  PYTHON PROGRAM TO COUNT OCCERRENCES OF A SUBSTRING IN A STRING 
str1 = input('enter the string')
sub_string = input('enter the substring')
ans1 = str1.count(sub_string)
print(ans1)

enter the stringmilly krina milly milly milly krina
enter the substringmilly
4

In [3]:
# ANS 3 WRITE A PYTHON PROGRAM TO COUNT THE OCCURRENCES OF EACH WORD IN A GIVEN SENTENCE
str1 = input('enter the string')
str2 = str1.split()
a = []
for i in str2:
    ans1 = str1.count(i)
    a += [ans1]
print(a)

enter the stringmilly milly krina krina
[2, 2, 2, 2]

In [4]:
# ANS 4 WRITE A PYTHON PROGRAM TO GET A SINGLE STRING FROM TWO GIVEN STRING , SEPARATED BY A SPACE AND SWAP 
# THE FIRST TWO CHARACTER OF EACH STRING
v1 = 'patel'
v2 = 'milly'
v2[0:2]+v1[0:2]+' '+v2[2:4]+v1[2:5]

'mipa lltel'

In [6]:
# ANS 5 WRITE A PYTHON PROGRAM TO ADD 'ING' AT THE END OF GIVEN STRING(LENGTH SHOULD BE AT LEAST 3). IF THE GIVEN STRING 
# ALREADY ENDS WITH 'ING' THEN ADD 'LY' INSTEAD IF THE STRING LENGTH OF THE GIVEN STRING ID LESS THAN 3,LEAVE IT UNCHANGED.
a = input()
if len(a) >= 3:
    if a.endswith('ing'):
        print(a.replace('ing','ly'))
    else:
        print(a + 'ing')
else:
    print(a)

lonely
lonelying

In [7]:
#ANS 6 WRITE A PYTHON PROGRAM TO FIND THE FIRST APPEARANCE OF THE SUBSTRING 'NOT' AND 'POOR' FROM A GIVEN STRING.IF 'NOT'
# FOLLOWS THE 'POOR',REPLACE THE WHOLE 'NOT'...'POOR' SUBSTRING WITH 'GOOD'.

str1 = ' i am not poor person'
str1.replace('not poor','good')

' i am good person'

In [8]:
# ANS 7 PROGRAM TO FIND GCD OF TWO NUMBERS.
#FOR EXAMPLE , THE GCD OF 20 AND 28 IS 4 AND GCD OF 98 AND 56 IS 14 
def gcd(a,b):
    result = min(a,b)
    while result:
        if a % result == 0 and b % result == 0:
            break
        result -= 1
    return result 
a = 98
b = 56
print(f"GCD of {a} and {b} is {gcd(a,b)}")

GCD of 98 and 56 is 14

In [9]:
# ANS 8 WRITE A PYTHON PROGRAM TO CHECK WHETHER A LIST CONTAINS A SUB LIST
list1 = [['csk'] , ['mi'] , ['rcb'] , ['gt']]
list2 = ['csk']
if list2 in list1:
    print('list is present')
else:
    print('list is not present')

list is present

In [11]:
# ANS 9 WRITE A PYTHON PROGRAM TO FIND A SECOND SMALLEST NUMBER IN A LIST
list0 = [ '100' , '300' , '200' , '400' , '600' , '500' ]
list0.sort()
print(list0[1])

200

In [14]:
# ANS 10 WRITE A PYTHON PROGRAM TO GET UNIQUE VALUE FROM A LIST
list11 = [0 , 11 ,2 , 0 , 3 , 5 , 6, 2 , 5 , 10 ]
d = set(list11)
print(d)

{0, 2, 3, 5, 6, 10, 11}

In [16]:
# ANS 11 WRITE A PYTHON PROGRAM TO UNZIP A LIST OF TUPLES INTO INDIVIDUAL LISTS
var1 = zip([100,300,500,700] , [200,400,600,800])
list(var1)

[(100, 200), (300, 400), (500, 600), (700, 800)]

In [18]:
# ANS 12 WRITE A PYTHON PROGRAM TO CONVERT LIST OF TUPLES INTO A DICTIONARY
list12 = [(11,22) ,(33,44) ,(44,55)]
dict(list12)

{11: 22, 33: 44, 44: 55}

In [20]:
# ANS 13 WRITE A PYTHON PROGRAM TO SORT A DICTIONARY (ASCENDING/DESCENDING) BY VALUE
dict0 = { 'hmm' : 12 , 'hello' : 23 , 'how' : 1 }
dict1 = dict2 = list(dict0.items())
dict1.sort()
print('ascending=' ,dict(dict1))
dict2.sort(reverse = True)
print('descending=' ,dict(dict2))

ascending= {'hello': 23, 'hmm': 12, 'how': 1}
descending= {'how': 1, 'hmm': 12, 'hello': 23}

In [21]:
# ANS 14 WRITE A PYTHON PROGRAM TO FIND THR HIGHEST 3 VALUES IN A DICTIONARY
dict10 = {'ab' : 10 ,'bn' : 20, 'cg' : 30, 'da' : 40}
ab = list(dict10.values())
ab.sort(reverse=True)
ab.pop()
print(ab)

[40, 30, 20]

In [23]:
# ANS 15 GIVEN A NUMBER N, WRITE A PYTHON PROGRAM TO MAKE AND PRINT A LIST OF FIBONACCI SERIES UP TO N.
# INPUT:8
# HINT: FIRST SEVEN NUMBER IN SERIES
num = int(input())
var1 = 0
var2 = 1
for i in range(num):
    print(var1,end=' ')
    var1,var2=var2,var1+var2

8
0 1 1 2 3 5 8 13

In [25]:
# ANS 16 COUNTING THE FREQUENCIES IN A LIST USING A DICTIONARY IN PYTHON.
# INPUT: [1,1,1,5,5,3,1,3,3,1,4,4,4,2,2,2,2]
# EXPECTED OUTPUT: 1:5 , 2:4 , 3:3 , 4:3 , 5:2
mylist0 = [1,1,1,5,5,3,1,3,3,1,4,4,4,2,2,2,2]
mydict0 = {}
for element in mylist0:
    if element in mydict0:
        mydict0[element] += 1
    else:
        mydict0[element] = 1
print(mydict0)

{1: 5, 5: 2, 3: 3, 4: 3, 2: 4}

In [29]:
# ANS 17 PYTHON PROGRAM TO FIND FACTORIAL OF NUMBER USING RECURSION
def fun1(num):
    if num == 1:
        return 1
    else:
        return num *fun1(num-1)
fun1(4)

24

In [34]:
# ANS 18 WRITE A PYTHON FUNCTION THAT TAKES A LIST AND RETURN A NEW LIST WITH UNIQUE ELEMENTS OF THE FIRST LIST.
def unique_list(list6):
    list3 = []
    for a in list6:
        if a not in list3:
            list3.append(a)
    return list3
print(unique_list([1 , 2 , 3, 3, 3 , 3 , 4 , 5 ]))

[1, 2, 3, 4, 5]