In [ ]:
#ans=1
#list is one of the data type in python.list is used to store multiple items in a single variable.
# it is be denoted by square bracket.
#list can be reversed by using the method called . "reverse()"

In [1]:
# ans= 2
# last object from the list can be removed by using ."pop()" method.
A= [2,33,222,14,25]
A[-1]

25

In [2]:
#ans=3
# DIFFERENCE BETWEEN APPEND AND EXTEND
B=[1,2,3]
c=[4,5,6]
B.append('mily')
c.extend('mily')
print(B)
print(c)

[1, 2, 3, 'mily']
[4, 5, 6, 'm', 'i', 'l', 'y']

In [3]:
#ans=4
var1=[4,9,6,8]
var1.sort()
print('max value=', var1[-1])
print('minimum value=', var1[0])

max value= 9
minimum value= 4

In [4]:
#ans=5
list3=[12,56,87,90]
list4=[12,58,78,90]
if list3 == list4:
    print('true')
else:
    print('false')

false

In [5]:
#ans = 6
l1=['krina','deed', 'bob']
for i in l1:
    if len(i)>= 2 and i[0]== i[-1]:
        print(i)

deed
bob

In [6]:
#ans= 7
list1=[2,3,4,6,4,2]
a=set(list1)
list(a)

[2, 3, 4, 6]

In [7]:
#ans=8
list3=[1,2,3]
if len(list3)==0:
    print('true')
else:
    print('false')

false

In [8]:
#ans=9
list4=[4,5,6,7]
list5=[6,7,8,9]
for i in list4:
    for j in list5:
        if i == j:
            print('true')

true
true

In [9]:
#ans=10
list6=[]
for i in range(1,31):
    if i <=5 or (i<=30 and i>=25):
        list6.append(i*i)
        
print(list6)

[1, 4, 9, 16, 25, 625, 676, 729, 784, 841, 900]

In [15]:
#ans=11

In [11]:
#ans=12
list9=['2','34','mily','5','krina']
' '.join(list9)

'2 34 mily 5 krina'

In [ ]:
#ans=13

In [12]:
#ans=14
list10=[2,4,7,9]
list10.sort()
list12=list10[1]
print(list12)

4

In [16]:
#ans=15
var5 = [1,2,3,4,55,66,7,88,9,9,4,3]
var5 = set(var5)
list(var5)

[1, 2, 3, 4, 66, 7, 9, 55, 88]

In [17]:
#ans=16
list13=[1,4,5,[1,2],8]
list14=[1,2]
if list14 in list13:
    print('true')
else:
    print('false')

true

In [18]:
#ans=17
list15,list16=[[2,3,4],[4,5,6]]
print(list15)
print(list16)

[2, 3, 4]
[4, 5, 6]

In [ ]:
#ans=18
#tuple                
#immutable datatype    
#represent by ()       
#we can use as keys for dictionary          

#list
#mutable datatype
#represent by []
#we can not use as keys for dictionary

In [19]:
#ans=19
tuple1=[1,2,0.2,'krina',{1,2,3},True,False,[12,15],{1,2,4},{1:2,2:3}]
tuple2=tuple(tuple1)
print(tuple2)

(1, 2, 0.2, 'krina', {1, 2, 3}, True, False, [12, 15], {1, 2, 4}, {1: 2, 2: 3})

In [20]:
#ans=20
tuple3=[1,2,4,7]
tuple4= tuple(tuple3)
print(tuple4)

(1, 2, 4, 7)

In [21]:
#ans=21
tuple5=('krina','mily','sonali')
''.join(tuple5)

'krinamilysonali'

In [22]:
#ans=22
tuple6=(4,5,6,7,8)
tuple7=(8,9,20)
if tuple7 in tuple6:
    print('yes')
else:
    print('no')

no

In [23]:
#ans=23
tuple8=(1,3,4,4,6.4,7,9)
len(tuple8)

7

In [24]:
#ans=24
list20=[2,3,4,6]
tuple11=tuple(list20)
print(tuple11)

(2, 3, 4, 6)

In [25]:
#ans=25
tuple9=(2,6,9,5,8)
tuple10= tuple9[::-1]
print(tuple10)

(8, 5, 9, 6, 2)

In [26]:
#ans=26
tuple12=(2,65,89,'krina')
list21=list(tuple12)
list21.pop(-1)
list21.append('sonali')
print(list21)

[2, 65, 89, 'sonali']

In [27]:
#ans=27
tuple13=(3,4,5,4,5,6,7)
set1=set(tuple13)
print(set1)

{3, 4, 5, 6, 7}

In [ ]:
#ans=28

In [ ]:
#ans=29

In [28]:
#ans=30
tuple14=([1,3],[3,4],[4,6])
dict(tuple14)

{1: 3, 3: 4, 4: 6}

In [ ]:
#ans=31
#use the dict() function to convert a tuple to a dictionary.
#A key-value pair is contained in each tuple.

In [ ]:
#ANS=32

In [40]:
#ANS=33
d7={1:3,4:8,5:10}
dict10=dict11=list(d7.items())

dict10.sort(reverse=True)
print('desending order=',dict(dict10))
dict11.sort()
print('ascending=',dict(dict11))

desending order= {5: 10, 4: 8, 1: 3}
ascending= {1: 3, 4: 8, 5: 10}

In [32]:
#ans=34
dict1={1:3,4:8,5:10}
dict4 = {'m':'mily','k':'krina'}
dict1.update(dict4)
print(dict1)

{1: 3, 4: 8, 5: 10, 'm': 'mily', 'k': 'krina'}

In [36]:
#ans=35
dict5={'1':3,'4':8,'5':10,'m':'mily','k':'krina'}
key=input('key=')
if key in dict5:
    print('True')
else:
    print('False')

key=k
True

In [ ]:
#ans=36

In [38]:
#ans=37
dict6 = {'1':3,'4':8,'5':10,'m':'mily','k':'krina'}
dict6.keys()

dict_keys(['1', '4', '5', 'm', 'k'])

In [ ]:
#ans=38

In [ ]:
#ans=39

In [39]:
#ans=40
dict1={1:3,4:8,5:10}
dict4 = {'m':'mily','k':'krina'}
dict1.update(dict4)
print(dict1)

{1: 3, 4: 8, 5: 10, 'm': 'mily', 'k': 'krina'}